<% var border = "";
if (card.status == "FINISHED") {
    border = "success";
} else if (card.status == "STARTED") {
    border = "warning";
} else if (card.status == "NOT_STARTED") {
    border = "danger";
} %>
<div class="card border-<%= border %>">
    <ul class="card-header p-0 m-0 nav nav-tabs border-<%= border %>" id="cardTab-<%= card.id %>" role="tabList">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="overview-tab-<%= card.id %>" data-bs-toggle="tab" data-bs-target="#overview-<%= card.id %>" type="button" role="tab" aria-controls="overview-<%= card.id %>" aria-selected="true">Overview</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="description-tab-<%= card.id %>" data-bs-toggle="tab" data-bs-target="#description-<%= card.id %>" type="button" role="tab" aria-controls="description-<%= card.id %>" aria-selected="false">Descritpion</button>
        </li>
        <% if (canEdit) { %>
            <li class="nav-item ms-auto" role="presentation">
                <a class="nav-link" style="color: var(--bs-warning)" href="<%= currentPage + "/edit/" + card.id %>">Edit</a>
            </li>
        <% } %>
        <% if (canDelete) { %>
            <li class="nav-item <%= (!canEdit) ? 'ms-auto' : ''%>" role="presentation">
                <a class="nav-link" style="color: var(--bs-danger)" href="<%= currentPage + "/delete/" + card.id %>">Delete</a>
            </li>
        <% } %>
        <% if (canApprove) { %>
            <li class="nav-item <%= (!canEdit && !canDelete) ? 'ms-auto' : '' %>" role="presentation">
                <a class="nav-link" style="color: var(--bs-success)" href="<%= currentPage + "/approve/" + card.id %>">Approve</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" style="color: var(--bs-danger)" href="<%= currentPage + "/reject/" + card.id %>">Reject</a>
            </li>
        <% } %>
        <% if (canChangeStatus) { %>
            <li class="nav-item <%= (!canEdit) ? 'ms-auto' : '' %>" role="presentation">
                <% if (card.status == "FINISHED") { %>
                    <span class="nav-link disabled" style="color: white; background-color: var(--bs-success)">Finished</span>
                <% } else { %>
                    <a class="nav-link" style="color: var(--bs-success)" href="<%= currentPage + "/finished/" + card.id%>">Finished</a>
                <% } %>
            </li>
            <li class="nav-item" role="presentation">
                <% if (card.status == "STARTED") { %>
                    <span class="nav-link disabled" style="color: white; background-color: var(--bs-warning)">In progress</span>
                <% } else { %>
                    <a class="nav-link" style="color: var(--bs-warning)" href="<%= currentPage + "/inprogress/" + card.id%>">In progress</a>
                <% } %>
            </li>
            <li class="nav-item" role="presentation">
                <% if (card.status == "NOT_STARTED") { %>
                    <span class="nav-link disabled" style="color: white; background-color: var(--bs-danger)">Not started</span>
                <% } else { %>
                    <a class="nav-link" style="color: var(--bs-danger)" href="<%= currentPage + "/notstart/" + card.id%>">Not started</a>
                <% } %>
            </li>
        <% } %>
    </ul>
    <% if (card.status == "REJECTED") { %>
        <div class="card border-danger" style="padding: 10px 10px 5px 10px; border-radius: 0px;">
            <h6 style="color: var(--bs-danger); font-weight: bold;">This card as been rejected for the folowing reason:</h6>
            <h6 style="color: var(--bs-danger);"><%= card.rejectionReason %></h6>
        </div>
    <% } %>
    <div class="tab-content" id="cardTabContent-<%= card.id %>">
        <div class="tab-pane fade show active" id="overview-<%= card.id %>" role="tabpanel" aria-labelledby="overview-tab-<%= card.id %>">
            <div class="card-body">
                <h5 class="card-title text-<%= border %>"><%= wap.sprint.id %>.<%= card.part.id %>.<%= (card.idInSprint == -1) ? "U" : card.idInSprint %> <%= card.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Part: <%= card.part.name %> - Version: <%= card.version %></h6>
                <p class="card-text">En temps que <%= card.asWho %>,<br>Je veux <%= card.task %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-<%= border %>">Infos:</li>
                <li class="list-group-item border-<%= border %>">Jours hommes: <%= card.workingDays %>J/H</li>
                <li class="list-group-item border-<%= border %>">Status: <%= card.status %></li>
            </ul>
        </div>
        <div class="tab-pane fade" id="description-<%= card.id %>" role="tabpanel" aria-labelledby="description-tab-<%= card.id %>">
            <div class="card-body">
                <h5 class="card-title text-<%= border %>"><%= wap.sprint.id %>.<%= card.part.id %>.<%= (card.idInSprint == -1) ? "U" : card.idInSprint %> <%= card.name %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Part: <%= card.part.name %> - Version: <%= card.version %></h6>
                <div class="card-text">
                    <%= card.description %>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-<%= border %>">Definitions of Done:</li>
                <% for (const dod of card.dods.split(/\n/g)) { %>
                    <li class="list-group-item border-<%= border %>"><%= dod %></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="card-footer text-muted border-<%= border %>">
        Assignees: <% for (let i = 0, r=card.assignees.reverse(); i < r.length; i++) { %><%=r[i].firstname + " " + r[i].lastname%><%= (i != r.length - 1) ? ", " : "" %><% } %>
    </div>
</div>