<header class="navbar navbar-dark navbar-expand-lg bd-navbar sticky-top bg-danger">
    <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <a class="navbar-brand" href="/dashboard">
            <img src="/images/wap_logo.svg" alt="Logo" width="32" height="32" class="d-inline-block align-text-middle">
            WAP
        </a>
        <% if (user) { %>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mb-2 mb-lg-0 me-auto">
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/dashboard' ? 'active' : '' %>" <%= currentPage === '/dashboard' ? 'aira-current="page"' : '' %> href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/mycards' ? 'active' : '' %>" <%= currentPage === '/mycards' ? 'aira-current="page"' : '' %> href="/mycards">My Cards</a>
                    </li>
                    <li class="nav-item">
                        <div class="tooltip-wrapper" data-toogle="tooltip" data-placement="bootom" title="Not done yet.">
                            <a class="nav-link disabled <%= currentPage === '/rdv' ? 'active' : '' %>" <%= currentPage === '/rdv' ? 'aira-current="page"' : '' %> href="/rdv">Rendez-vous</a>
                        </div> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/users' ? 'active' : '' %>" <%= currentPage === '/users' ? 'aira-current="page"' : '' %> href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/cards' ? 'active' : '' %>" <%= currentPage === '/cards' ? 'aira-current="page"' : '' %> href="/cards">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/sprint' ? 'active' : '' %>" <%= currentPage === '/sprint' ? 'aira-current="page"' : '' %> href="/sprint">Sprint</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === '/parts' ? 'active' : '' %>" <%= currentPage === '/parts' ? 'aira-current="page"' : '' %> href="/parts">Parts</a>
                    </li>
                    <li class="nav-item">
                        <div class="tooltip-wrapper" data-toogle="tooltip" data-placement="bootom" title="Not done yet.">
                            <a class="nav-link disabled <%= currentPage === '/pld' ? 'active' : '' %>" <%= currentPage === '/pld' ? 'aira-current="page"' : '' %> href="/pld">PLD</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item me-4">
                        <a class="nav-link" href="/users/edit/<%= user.id %>"><%= user.firstname + " " + user.lastname %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        <% } %>
    </nav>
</header>