<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex">
                <div>
                    <h4>Réunion <%= (isPublished) ? "passé" : "prévu" %> du <%= dayjs(rendezVous.date).format("DD/MM/YYYY [à] HH:MM [(UTC+2)]") %></h4>
                </div>
                <% if (canEdit) { %>
                    <div class="ms-auto">
                        <a class="btn btn-warning ms-auto ps-4 pe-4" href="/rendezVous/edit/<%= rendezVous.id %>">Edit</a>
                    </div>
                <% } %>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5 class="card-title">Ordre du jour</h5>
                        <p class="card-text"><%- escapeXML(rendezVous.agenda).replace(/\n/g, '<br>') %></p>
                    </li>
                    <% if (canEdit && !isPublished) { %>
                        <button class="mt-3 btn btn-secondary"type="button" data-bs-toggle="collapse" data-bs-target="#reunion1" aria-expanded="false" aria-controls="reunion1">
                            Show non-published informations
                        </button>
                        <div class="collapse" id="reunion1">
                    <% } %>
                    <% if (canEdit || isPublished) { %>
                        <li class="list-group-item">
                            <h5 class="card-title">Compte rendu</h5>
                            <p class="card-text"><%- escapeXML(rendezVous.report).replace(/\n/g, '<br>') %></p>
                        </li>
                        <li class="list-group-item">
                            <h5 class="card-title">Présences</h5>
                            <% for (const attendance of rendezVous.userAttendances) { %>
                                <% if (attendance.attendance == "UNDEFINED") { %>
                                    <div class="presence-undefined"><%= attendance.user.firstname + " " + attendance.user.lastname %></div>
                                <% } else if (attendance.attendance == "PRESENT") { %>
                                    <div class="presence-present"><%= attendance.user.firstname + " " + attendance.user.lastname %></div>
                                <% } else { %>
                                    <div class="presence-absent"><%= attendance.user.firstname + " " + attendance.user.lastname %></div>
                                <% } %>
                            <% } %>
                        </li>
                    <% } %>
                    <% if (canEdit && !isPublished) { %>
                        </div>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>