<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>WAP - Edit Rendez-Vous</title>
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
        <div class="container-xxl bd-gutter flex-wrap flex-lg-nowrap p-5">
            <div class="row mb-5 text-center">
                <h1>Édition du Rendez-Vous du: <%= toEdit.date %>></h1>
            </div>
            <div class="row mb-5">
                <form action="/rendezVous/edit/<%= toEdit.id %>" method="POST">
                    <div class="mb-3 form-group">
                        <label for="date" class="form-label">Date (heure française)</label>
                        <input type="datetime-local" class="form-control" id="date" name="date" value="<%= dayjs(toEdit.date).format('YYYY-MM-DDTHH:MM'); %>">
                    </div>
                    <div class="mb-3 form-group">
                        <label for="agenda" class="form-label">Ordre du jour</label>
                        <textarea class="form-control" id="agenda" name="agenda"><%= toEdit.agenda %></textarea>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="report" class="form-label">Compte rendu</label>
                        <textarea class="form-control" id="report" name="report"><%= toEdit.report %></textarea>
                    </div>
                    <div class="mb-3 form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="passed" name="passed" value="true" <%= (passed) ? "checked disabled" : "" %>>
                            <label class="form-check-label" for="passed">Le rendez-vous est passé <span style="color: var(--bs-danger);">(attention: ne peux pas être décoché)</span></label>
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">N/A</th>
                                    <th scope="col">Présent</th>
                                    <th scope="col">Absent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const attendance of toEdit.userAttendances) { %>
                                    <tr>
                                        <th scope="row"><%= attendance.user.firstname + " " + attendance.user.lastname %></th>
                                        <td><input class="form-check-input" type="radio" name="presence_<%= attendance.id %>" id="presence_<%= attendance.id %>" value="na" <%= (attendance.attendance == "UNDEFINED") ? "checked" : "" %>></td>
                                        <td><input class="form-check-input" type="radio" name="presence_<%= attendance.id %>" id="presence_<%= attendance.id %>" value="present" <%= (attendance.attendance == "PRESENT") ? "checked" : "" %>></td>
                                        <td><input class="form-check-input" type="radio" name="presence_<%= attendance.id %>" id="presence_<%= attendance.id %>" value="absent" <%= (attendance.attendance == "ABSENT") ? "checked" : "" %>></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-success">Sauvegarder</button>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>