<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <title>WAP - Sprints</title>
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
        <div class="container-fluid p-5">
            <% if (canEditSprint) { %>
                <div class="row mb-5 text-center">
                    <h1>Sprints</h1>
                </div>
                <div class="container w-50 bd-gutter flex-wrap flex-lg-nowrap">
                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total cards</th>
                                    <th scope="col">Needed J/H</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const sprint of allSprints) { %>
                                    <tr>
                                        <th scope="row"><%= sprint.id %></th>
                                        <td><%= sprint.name %></td>
                                        <td>DUMMY</td>
                                        <td><%= sprint.workDaysNeeded %></td>
                                        <% if (!sprint.active) { %>
                                            <td><a type="button" class="btn btn-sm btn-outline-warning" href="/sprint/use/<%= sprint.id %>">Select this sprint</a></td>
                                        <% } else { %>
                                            <td></td>
                                        <% } %>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <a type="button" class="btn btn-outline-success" href="/sprint/create">Configure a new sprint</a>
                    </div>
                </div>
                <div class="row mb-5 pt-5">
                    <span class="border-top border-2"></span>
                </div>
            <% } %>
            <% if (wap.sprint) { %>
                <div class="row mb-5 text-center">
                    <h1>Users stats on this sprint</h1>
                    <h4 class="text-muted">Sprint: <%= wap.sprint.name %></h4>
                </div>
                <% for (const user of allUsers) { %>
                    <div class="row ms-auto me-auto w-75 mt-5 mb-5">
                        <span class="border-2 border-top"></span>
                    </div>
                    <div class="row">
                        <h3 class="mb-4"><%= user.firstname + " " + user.lastname %>
                            <span class="badge bg-primary"><%= user.totalJH %> J/H</span>
                            <span class="badge bg-success"><%= user.totalDones %> Done(s)</span>
                            <span class="badge bg-warning"><%= user.totalProgress %> In progress</span>
                            <span class="badge bg-danger"><%= user.totalNotStarted %> Not started</span>
                        </h3>
                    </div>
                    <div class="container-fluid">
                        <div class="row" style="float:none; flex-wrap: nowrap; overflow-x: auto;"">
                        <% for (const card of user.cards) { %>
                            <div class="col-md-4" style="display: inline-block; float: none;;">
                                <%- include("../partials/card.ejs", { card: card, canEdit: false, canApprove: false, canChangeStatus: false, canDelete: false}) %>
                            </div>
                        <% } %>
                        <% if (!user.cards || user.cards.length == 0) { %>
                            <h3 class="text-mutted">This user has no cards</h3>
                        <% } %>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <div class="row ms-auto me-auto w-75 mt-5 mb-5">
                    <span class="border-2 border-top"></span>
                </div>
                <div class="row mb-5 text-center">
                    <h1>No active sprint</h1>
                    <h4 class="text-muted">Start a sprint to see some stats</h4>
                </div>
            <% } %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>